@model List<_19Jul2020_1.Models.Leave>
@{
    ViewBag.Title = "Aproved";
}

<h2>Aproved</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>EmployeeId</td>
            <td>FromDate</td>
            <td>ToDate</td>
            <td>Reason</td>
            <td>Aproved</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

        <tr>
            <td>@item.EmployeeId</td>
            <td>@item.FromDate</td>
            <td>@item.ToDate</td>
            <td>@item.Reason</td>
            <td>@item.Aproved</td>
            <td><a href="/Leave/Aproveacept/@item.Id">Aproveacept</a>
            </td>
        </tr>

        }
    </tbody>
</table>